*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

body {
    background-color: #010030;
    color: white;
}

/* ------------------------------------INICIO HEADER---------------------------------------- */
/*Fondos Header---------------------*/
#headerHome {
    background-image: url(../imagenes/ima_jardin.jpg);
    background-position: 25% 60%;
    background-size: cover;
    height: 68vh;
}

#headerElColegio {
    background-image: url(../imagenes/aula.jpg);
    background-position: 25% 60%;
    background-size: cover;
    height: 68vh;
}

#headerActividades {
    background-image: url(../imagenes/chicosPatio.jpg);
    background-position: 35% 40%;
    background-size: cover;
    height: 68vh;
}

#headerGaleria {
    background-image: url(../imagenes/jardin.jpg);
    background-position: 25% 40%;
    background-size: cover;
    height: 68vh;
}

#headerContacto {
    background-image: url(../imagenes/puerta.jpg);
    background-position: 25% 40%;
    background-size: cover;
    height: 68vh;
}
.error {
    background-image: url(../imagenes/ima_jardin.png);
    background-size: cover;
    height: 68vh;
}
/*Fondos Header----------------------*/


.encabezadoGeneral {
    display: flex;
    background-color: #cdccffc4;
    height: 12vh;
    justify-content: space-between;
    position: absolute;
    position: sticky;
    top: 0;
    z-index: 8;
}

.arregloMenu {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-right: 2%;
}
.linkLogo {
    height: 70px;
}

.logoIma{
    height: 70px;
}

.tituloSitio {
    text-decoration: none;
    height: 5.5rem;
}

h1 {
    color: #00006A;
    font-family: 'Actor', sans-serif;
    font-size: 5.5rem;
    font-weight: 300;
    padding-right: 20px;
}

.icono-menu {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3%;
}

.icono-menu img {
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

.cont-menu {
    background-color: #0100309c;
    box-shadow: 2px 0px 5px 2px;
    width: 280px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}

.active {
    transform: translate(-600px);
}

.cont-menu ul {
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li a {
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}

.cont-menu ul li a:hover {
    background-color: whitesmoke;
    color: black;
}
/* -----------------------------------------FIN HEADER-------------------------------------- */
h2 {
    text-align: center;
    font-weight: 400;
    font-size: 4rem;
    margin: 4rem 0rem 5rem 0rem;
    padding: 0rem 0rem 4rem 0rem;
    border-bottom: 0.5rem solid #B9B8FF;
}

h3 {
    font-weight: 300;
}
/*----------------------------INICIO FOOTER------------------------------------------*/
footer {
    background-color: #cdccff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #00006A;
    height: 100%;
        .footer img {
            height: 10rem;
        }
        .seguinosFooter {
            display: flex;
            justify-content: center;
            width: 16%;
        }
        .footer__p {
            width: 8.4rem;
        }
        .footer__p a {
            text-decoration: none;
        }
        .footer__div {
            margin: 0px 27%;
        }
        .footer__info {
            text-align: center;
            width: 25rem;
        }
        .divLogoFooter {
            display: flex;
            justify-content: center;
            width: 16%;
        }
}

.footer__autor {
    text-align: center;
    background-color: #a3a1ff;
    padding-left: 5px;
    padding-bottom: 2px;
    color: #010030;
        .footer__autor a {
            text-decoration: underline #00006A;
        }
}

.footer img {
    height: 100px;
} 

/*----------------------------FINAL FOOTER------------------------------------------*/