@media (max-width: 1120px) {
    .acordeon {
        .contenido {
            font-size: 2rem;
            padding: 0 0.5rem;
    
        }
    }
    .acordeon .bloque.activo .contenido{
        height: 35rem;
    }

}
@media (max-width: 1075px) {

    .acordeon {
        width: 90%;
        .contenido {
            font-size: 1.7rem;
            padding: 0 0.5rem;
    
        }
    }
    .acordeon .bloque.activo .contenido{
        height: 35rem;
    }
    .footer {
        .footer__div {
            margin: 0px 20%;
        }
    }
}
@media (max-width: 970px) {
    
    .encabezadoGeneral {
        height: 10vh;
    }
    .arregloMenu {
        align-items: center;
    }
    .logoIma {
        height: 50px;
    }
    .linkLogo {
        height: 50px;
    }
    .tituloSitio {
        height: 5rem;
    }
    h1 {
        font-size: 4rem;
    }
    .cardsHome {
        height: 135vh;
    }
}
@media (max-width: 800px) {
    .footer {
        .footer__div {
            margin: 0px 15%;
        }
    }
}
@media (max-width: 750px) {
    .logoIma {
        height: 30px;
    }
    .linkLogo {
        height: 30px;
    }
    .tituloSitio {
        height: 3.8rem;
    }
    h1 {
        font-size: 3rem;
    }
    .cardsHome {
        display: none;
    }
    .cardsResponsive {
        display: flex;
        flex-direction: column;
        align-items: center;
            article {
                width: 90%;
                height: 400px;
                display: flex;
                justify-content: center;
                margin-bottom: 4rem;
                    .mobileCard {
                        width: 100%;
                        height: 100%;
                        background-color: #B9B8FF;
                        border-radius: 2rem;
                        display: flex;
                            .imgMobile1{
                                background-image: url(../imagenes/db1.jpg);
                                background-position: 50%;
                                border-radius: 2rem 0 0 2rem;
                                height: 100%;
                                width: 45%;
                            }
                            .imgMobile2 {
                                background-image: url(../imagenes/wall-e1.jpg);
                                background-position: 50%;
                                border-radius: 2rem 0 0 2rem;
                                height: 100%;
                                width: 45%;
                            }
                            .imgMobile3 {
                                background-image: url(../imagenes/hockey1.jpg);
                                background-position: 0;
                                border-radius: 2rem 0 0 2rem;
                                height: 100%;
                                width: 45%;
                            }
                            .textoCardsMobile {
                                width: 55%;
                                    h4 {
                                        font-size: 3rem;
                                        color: #00006A;
                                        margin: 2rem 2rem 1rem 2rem;
                                    }
                                    p {
                                        font-size: 2rem;
                                        color: #00006A;
                                        margin: 2rem 2rem 1rem 2rem;
                                    }
                            }

                    }
            }
    }
    
}
@media (max-width: 665px) {
    .footer {
        .footer__div {
            margin: 0px 10%;
        }
    }  
}
@media (max-width: 635px) {
    .cardsHome {
        height: 100%;
    }
}
@media (max-width: 600px) {
    /*GENERAL*/
    #headerHome {height: 54vh;}
    #headerElColegio {height: 54vh;}
    #headerActividades {height: 54vh;}
    #headerGaleria {height: 54vh;}
    #headerContacto {height: 54vh;}

    .tituloSitio {
        height: 3.8rem;
    }

    /*FIN GENERAL*/
    /*HOME*/
    .cardsHome {
        height: 100%;
    }

    .parrafoHome {font-size: 2rem;}

    .redes {
        height: 50vh;

    }
    /*FIN HOME*/
    /*EL COLEGIO*/
    .colegioInfo {
        .introInfo {
            h3 {
                font-size: 2.5rem;
            }
            .parrafoColegio {
                font-size: 2rem;
            }
        }
    }
    .contenedorColegio {
        
    }
    .acordeon .h3 {
        font-size: 2rem;
    }
    .acordeon .contenido {
        font-size: 1.6rem;
        padding: 0 0.5rem;

    }
    .acordeon .bloque.activo .contenido{
        height: 35rem;
    }
    /*FIN EL COLEGIO*/
    /*ACTIVIDADES*/
    .imgImaDiv {
        display: none;
    }
    .imgPatioDiv {
        display: none;
    }
    .imatorio p, .patioJoven p {
        font-size: 1.4rem;
    }
    .imatorioDiv, .patioDiv {
        width: 70%;
    }
    /*FIN ACTIVIDADES*/

    /*GALERÍA*/
    .fotosGaleria {
        display: grid;
        grid-template-areas: "uno"
                             "dos"
                             "tres"
                             "cuatro"
                             "cinco";
        grid-template-rows: repeat(5, auto);
        justify-content: center;
    }
    .fotosGaleria img {
        height: auto;
    }
    /*FIN GALERÍA*/
    /*CONTACTO*/
    .ubicacionColegio {
        flex-direction: column;
        align-items: center;
            iframe {
                height: 400px;
                width: 80%;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            .aclaracionesUbicacion{
                margin-top: 0;
                width: 80%;
                height: 100%;
                padding-bottom: 3rem;
                margin-bottom: 8rem;
            }
    }
    /*FIN CONTACTO*/
}
@media (max-width: 571px) {
    .footer {
        .footer__div {
            margin: 0px 5%;
        }
    }  
}
@media (max-width: 540px) {
    .cardsResponsive {
        .mobileCard {
            .textoCardsMobile {
                h4 {
                    font-size: 2.5rem;
                    color: #00006A;
                    margin: 2rem 2rem 1rem 2rem;
                }
                p {
                    font-size: 1.8rem;
                    color: #00006A;
                    margin: 2rem 2rem 1rem 2rem;
                }
            }
        }
    }
}
@media (max-width: 500px){
    .encabezadoGeneral {
        height: 10vh;
    }

    .tituloSitio {
        height: 3.5rem;
    }
    h1 {
        font-size: 2.8rem;
        padding-right: 10px;
    }
    .icono-menu img {
        width: 30px;
    }
    .cont-menu {
        background-color: #010030c9;
        width: 190px;
    }
    .cont-menu ul li a {
        padding: 10px 20px;
    }
    .inscripciones {width: 90%; text-align: center;}

    .acordeon {
        width: 90%;
        .contenido {
            font-size: 1.5rem;
            padding: 0 0.5rem;
    
        }
    }
    
    .footer {
        font-size: 1.3rem;
        
        .footer__div {
            margin: 0px 0%;
            
        }
    }
    .footer img {
        height: 70px;
    }

    .cardsResponsive {
        article {
            height: 300px;
                .mobileCard {
                    .imgMobile1, .imgMobile2, .imgMobile3 {
                        background-size: 220px 300px;
                    }
                    
                    .textoCardsMobile {
                        h4 {
                            font-size: 2.2rem;
                            color: #00006A;
                            margin: 2rem 2rem 1rem 2rem;
                        }
                        p {
                            font-size: 1.7rem;
                            color: #00006A;
                            margin: 0rem 2rem 1rem 2rem;
                        }
                    }
                }
        }
    }

}
@media (max-width: 460px) {
    .encabezadoGeneral {
        height: 10vh;
    }
    .tituloSitio {
        height: 2.9rem;
    }
    h1 {
        font-size: 2.25rem;
        padding-right: 10px;
    }
    .icono-menu img {
        width: 30px;
    }
}
@media (max-width: 420px) {
    .cardsResponsive {
        article {
            height: 250px;
                .mobileCard {
                    .imgMobile1, .imgMobile2, .imgMobile3 {
                        background-size: 180px 250px;
                    }
                    
                    .textoCardsMobile {
                        h4 {
                            font-size: 2rem;
                            color: #00006A;
                            margin: 0.5rem 1.3rem 0.5rem 1.3rem;
                        }
                        p {
                            font-size: 1.6rem;
                            color: #00006A;
                            margin: 0rem 1.3rem 1rem 1.3rem;
                        }
                    }
                }
        }
    }
}
@media (max-width:400px) {
    #headerHome {height: 35vh;}
    #headerElColegio {height: 35vh;}
    #headerActividades {height: 35vh;}
    #headerGaleria {height: 35vh;}
    #headerContacto {height: 35vh; background-position: 65%;}

    .acordeon {
        width: 90%;
        .contenido {
            font-size: 1.4rem;
            padding: 0 0.5rem;
    
        }
    }
    
    .footer {
        font-size: 1.2rem;
        
        .footer__div {
            margin: 0px 0%;
            .footer__info, .footer__autor {
                text-align: center;
                width: 22rem;
            }
        }
    }
    .footer img {
        height: 60px;
    }
}
@media (max-width: 376px) {
    /*GENERAL*/
    #headerHome {height: 42vh;}
    #headerElColegio {height: 42vh;}
    #headerActividades {height: 42vh;}
    #headerGaleria {height: 42vh;}
    #headerContacto {height: 42vh;}

    .cont-menu {
        background-color: #010030c9;
        width: 170px;
    }
    .cont-menu ul li a {
        padding: 10px 20px;
        font-size: 20px;
    }
    
    /*FIN GENERAL*/
    /*HOME*/
    .parrafoHome {font-size: 1.7rem;}
    .imagenesRedes{
        img{
            height: 8rem;
        }
    }
    

    
    /*FIN HOME*/

    /*EL COLEGIO*/
    .colegioInfo{
        .introInfo {
            width: 90%;
            margin: 0 0;
            display: flex;
            align-items: center;
            flex-direction: column;
                h3 {
                    font-size: 2rem;
                }
                .parrafoColegio {
                    font-size: 1.7rem
                }
        }
    }
   
    
    .acordeon {
        width: 90%;
            .contenido {
                padding: 0 0.5rem;
                font-size: 1.4rem;
            }
    }

    /*FIN EL COLEGIO*/
    /*ACTIVIDADES*/
    /*FIN ACTIVIDADES*/

    /*GALERÍA*/
    .fotosGaleria {
        padding: 5px 40px;
        display: grid;
        grid-template-areas: "uno"
                             "dos"
                             "tres"
                             "cuatro"
                             "cinco";
        grid-template-rows: repeat(5, auto);
        justify-content: center;
    }
    .fotosGaleria img {
        height: auto;
    }
    /*FIN GALERÍA*/

    /*CONTACTO*/
    /*FIN CONTACTO*/
}