@media (max-width: 1075px) {
    .footer {
        .footer__div {
            margin: 0px 20%;
        }
    }
}
@media (max-width: 970px) {
    
    .encabezadoGeneral {
        height: 10vh;
    }
    .arregloMenu {
        align-items: center;
    }
    .logoIma {
        height: 50px;
    }
    .linkLogo {
        height: 50px;
    }
    .tituloSitio {
        height: 5rem;
    }
    h1 {
        font-size: 4rem;
    }
    .cardsHome {
        height: 135vh;
    }
}
@media (max-width: 800px) {
    .footer {
        .footer__div {
            margin: 0px 15%;
        }
    }
}
@media (max-width: 750px) {
    .logoIma {
        height: 30px;
    }
    .linkLogo {
        height: 30px;
    }
    .tituloSitio {
        height: 3.8rem;
    }
    h1 {
        font-size: 3rem;
    }

}
@media (max-width: 665px) {
    .footer {
        .footer__div {
            margin: 0px 10%;
        }
    }  
}
@media (max-width: 600px) {
    /*GENERAL*/
    #headerHome {height: 54vh;}
    #headerElColegio {height: 54vh;}
    #headerActividades {height: 54vh;}
    #headerGaleria {height: 54vh;}
    #headerContacto {height: 54vh;}

    .tituloSitio {
        height: 3.8rem;
    }

    /*FIN GENERAL*/
    /*HOME*/
    .cardsHome {
        height: 100%;
    }

    .parrafoHome {font-size: 2rem;}

    .redes {
        height: 50vh;

    }
    /*FIN HOME*/
    /*EL COLEGIO*/
    .contenedorColegio {
        height: 120vh;
    }
    .acordeon .h3 {
        font-size: 2rem;
    }
    .acordeon .contenido {
        font-size: 1.4rem;
    }
    .acordeon .bloque.activo .contenido{
        height: 35rem;
    }
    /*FIN EL COLEGIO*/
    /*ACTIVIDADES*/
    .imgImaDiv {
        display: none;
    }
    .imgPatioDiv {
        display: none;
    }
    .imatorio p, .patioJoven p {
        font-size: 1.4rem;
    }
    .imatorioDiv, .patioDiv {
        width: 70%;
    }
    /*FIN ACTIVIDADES*/

    /*GALERÍA*/
    .fotosGaleria {
        display: grid;
        grid-template-areas: "uno"
                             "dos"
                             "tres"
                             "cuatro"
                             "cinco";
        grid-template-rows: repeat(5, auto);
        justify-content: center;
    }
    .fotosGaleria img {
        height: auto;
    }
    /*FIN GALERÍA*/
    /*CONTACTO*/
    .ubicacionColegio {
        flex-direction: column;
        align-items: center;
            iframe {
                height: 400px;
                width: 80%;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            .aclaracionesUbicacion{
                margin-top: 0;
                width: 80%;
                height: 100%;
                padding-bottom: 3rem;
                margin-bottom: 8rem;
            }
    }
    /*FIN CONTACTO*/
}
@media (max-width: 571px) {
    .footer {
        .footer__div {
            margin: 0px 5%;
        }
    }  
}
@media (max-width: 500px){
    .encabezadoGeneral {
        height: 10vh;
    }

    .tituloSitio {
        height: 3.5rem;
    }
    h1 {
        font-size: 2.8rem;
        padding-right: 10px;
    }
    .icono-menu img {
        width: 30px;
    }
    .cont-menu {
        background-color: #010030c9;
        width: 190px;
    }
    .cont-menu ul li a {
        padding: 10px 20px;
    }
    .inscripciones {width: 90%; text-align: center;}

    .footer {
        font-size: 1.3rem;
        
        .footer__div {
            margin: 0px 0%;
            
        }
    }
    .footer img {
        height: 70px;
    }

}
@media (max-width: 460px){
    .encabezadoGeneral {
        height: 10vh;
    }
    .tituloSitio {
        height: 2.9rem;
    }
    h1 {
        font-size: 2.25rem;
        padding-right: 10px;
    }
    .icono-menu img {
        width: 30px;
    }
}

@media (max-width:400px) {
    #headerHome {height: 35vh;}
    #headerElColegio {height: 35vh;}
    #headerActividades {height: 35vh;}
    #headerGaleria {height: 35vh;}
    #headerContacto {height: 35vh; background-position: 65%;}
    
    .footer {
        font-size: 1.2rem;
        
        .footer__div {
            margin: 0px 0%;
            .footer__info, .footer__autor {
                text-align: center;
                width: 22rem;
            }
        }
    }
    .footer img {
        height: 60px;
    }
}
@media (max-width: 376px) {
    /*GENERAL*/
    #headerHome {height: 42vh;}
    #headerElColegio {height: 42vh;}
    #headerActividades {height: 42vh;}
    #headerGaleria {height: 42vh;}
    #headerContacto {height: 42vh;}

    .cont-menu {
        background-color: #010030c9;
        width: 170px;
    }
    .cont-menu ul li a {
        padding: 10px 20px;
        font-size: 20px;
    }
    
    /*FIN GENERAL*/
    /*HOME*/
    .parrafoHome {font-size: 1.7rem;}
    .imagenesRedes{
        img{
            height: 8rem;
        }
    }
    

    
    /*FIN HOME*/

    /*EL COLEGIO*/
    .colegioInfo{
        .introInfo {
            width: 70%;
            margin: 0 0;
            display: flex;
            align-items: center;
            flex-direction: column;
                h3 {
                    font-size: 2rem;
                }
                .parrafoColegio {
                    font-size: 1.7rem
                }
        }
    }
   
    
    .acordeon {
        width: 85%;
            .contenido {
                padding: 0 0.5rem;
                font-size: 1.2rem;
            }
    }

    /*FIN EL COLEGIO*/
    /*ACTIVIDADES*/
    /*FIN ACTIVIDADES*/

    /*GALERÍA*/
    .fotosGaleria {
        padding: 5px 40px;
        display: grid;
        grid-template-areas: "uno"
                             "dos"
                             "tres"
                             "cuatro"
                             "cinco";
        grid-template-rows: repeat(5, auto);
        justify-content: center;
    }
    .fotosGaleria img {
        height: auto;
    }
    /*FIN GALERÍA*/

    /*CONTACTO*/
    /*FIN CONTACTO*/
}